:root {
    --primary: #5464b6;
    --secondary: #f9dcec;
    --border: #1b1a1a;
    --text: #ede6ef;
    --bg: #231e24;
    --tier-bg: #2a252b;
    --accent: #dd318d;
    --accent-darker: #bb2977;
}
::placeholder {
    text-align: center; 
 }
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--bg);
    color: var(--text);
}
button {
    background-color: var(--accent);
    color: var(--text);
    border: 1px solid var(--secondary);
    border-radius: 4px;
    padding: 10px;
}

/* Classes and ID's */
#holding,
#tl {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
#buttons {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}
#importing {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tier {
    height: 125px;
    width: 80%;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.field {
    height: 125px;
    width: 125px;
    margin: 0px 5px 0px 0px;
}
.container {
    height: inherit;
    width: 95%;
    background-color: var(--tier-bg);
    border: 1px solid var(--border);
}

/* CSS Selectors */
#holding section {
    height: 175px;
}
#holding section img {
    width: 175px;
    height: 175px;
}
.tier h2 {
    height: fit-content;
    width: 8%;
    text-align: center;
}

/* Effects */
button:hover,
.field:hover {
    cursor: pointer;
}
button:hover {
    background-color: var(--accent-darker);
}