:root {
    --primary: #5464b6;
    --secondary: #f9dcec;
    --border: #1b1a1a;
    --text: #ede6ef;
    --bg: #231e24;
    --tier-bg: #2a252b;
    --accent: #dd318d;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--bg);
    color: var(--text);
}

/* Classes and ID's */
#holding,
#tl {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.tier {
    height: 100px;
    width: 80%;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.field {
    width: 200px;
    height: 200px;
}
.container {
    height: inherit;
    width: 95%;
    background-color: var(--tier-bg);
    border: 1px solid var(--border);
}

/* CSS Selectors */
#holding section {
    height: 200px;
}
.tier h2 {
    height: inherit;
    width: 5%;
    text-align: center;
    background-color: rgb(199, 22, 22);
}